.vk1{         //шапка сайта
	color:#ffffff;
	background-color:#0000FF;
	padding-top:20px;
	padding-left: 70px;
	font-size:30px;
	padding-bottom:20px;
	border-radius: 10px; 
	background: linear-gradient(to bottom, #6257ff ,blue, #6257ff);
}
.vk2{
	position: absolute;
	top: 10px ;
	left: 50%;
	color:#ffffff;
}

.cartinka{
	position:absolute;
	top:20px;
	left:20px;
}
.poisk{
	position:absolute;
	top:35px;
	left:280px;
}
.novosti{
	color:#ffffff;
	position: absolute;
	top: 13px;
	right: 30px;
}
.novosti:hover{
	border:2px solid black;
}
.lydi{
	position: absolute;
	top: 13px;
	right: -50px;
	color:#ffffff;
}
.lydi:hover{
	border:2px solid black;
}
.obzor{
	position:absolute;
	top: 13px;
	right:-140px;
	color:#ffffff;
}
.obzor:hover{
	border:2px solid black;
}
.priglasit{
	position:absolute;
	top: 13px;
	right:-290px;
	color:#ffffff;
}
.priglasit:hover{
	border:2px solid black;
}
.pomosh{
	position:absolute;
	top: 13px;                
	right:-400px;
	color:#ffffff;
}
.pomosh:hover{
	border:2px solid black;
}
.vihod{
	position:absolute;
	top: 13px;
	right:-500px;
	color:#ffffff;
}
.vihod:hover{
	border:2px solid black;	          //шапка сайта кончилась
}        
.leftline{                      
	position:absolute;        //левая часть сайта
	margin-top:378px;
	padding-top:500px;
	left:-700px;
	size:3px;
	width:1259px;
	transform: rotate(90deg);
}	
.mouastranica{
	position:absolute;
	top:100px;
	left:10px;
	font-size:20px;
}
.mouastranica:hover{
	border:1px solid black;
}
.moiphoto{
	position:absolute;
	top:130px;
	left:10px;
	font-size:20px;
}
.moiphoto:hover{
	border:1px solid black;
}
.moidialogi{
	position:absolute;
	top:160px;
	left:10px;
	font-size:20px;
}
.moidialogi:hover{
	border:1px solid black;
}
.mouinovosti{
	position:absolute;
	top:190px;
	left:10px;
	font-size:20px;
}
.mouinovosti:hover{
	border:1px solid black;  //левой части конец
}
.pavelphoto{
	position:absolute;
	top:100px;
	left:220px;
	padding-bottom: 50px;
}
.pavelphoto:hover{
	border:1px solid black;
}
.pavelname{
	position:absolute;
	top:100px;
	left:800px;
	font-size:30px;
}
.pavelonline{
	color:blue;
	font-size:20px;
	position:absolute;
	left:1000px;
	top:110px;
}
.pavelstatus{
	font-size:18px;
	position:absolute;
	left:600px;
	top:150px
}
.napisatpavly{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:blue;
	color:white;
	top:410px;
}
.addpavla{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:blue;
	color:white;
	top:440px;
}
.pavelfriends{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:blue;
	color:white;
	top:470px;
	padding-left:90px;
	padding-right:90px;
	border:2px solid black;
}
.pavelfriendscolvo{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:#a09aff;
	color:white;
	top:495px;
	padding-left:10px;
	padding-right:195px;
	border:2px solid black;
}
#moxem{
	position:absolute;
	top:540px;
	left:235px;
}
#moxem:hover{
	border:1px solid black;
}
#egor{
	position:absolute;
	top: 540px;
	left:315px;
}
#egor:hover{
	border:2px solid blue;
}
#chupa{
	position:absolute;
	top: 540px;
	left:395px;
}
#chupa:hover{
	border:2px solid blue;
}
#gosp{
	position:absolute;
	top: 660px;
	left:235px;
}
#gosp:hover{
	border:2px solid blue;
}
#danil{
	position:absolute;
	top: 660px;
	left:315px;
}
#danil:hover{
	border:2px solid blue;
}
#david{
	position:absolute;
	top: 660px;
	left:395px;
}
#david:hover{
	border:2px solid blue;
}
.pavelphotos{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:blue;
	color:white;
	top:800px;
	padding-left:70px;
	padding-right:70px;
	border:2px solid black;
}
.pavelphoto2{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:#a09aff;
	color:white;
	top:825px;
	padding-left:10px;
	padding-right:161px;
	border:2px solid black;
}
.pavelphoto3{
	position:absolute;
	top:870px;
	left:235px;
}
.pavelphoto3:hover{
	border:1px solid black;
}
.addzapispavly{
	position:absolute;
	top:430px;
	left:600px;
	font-size:30px;
}
.zapicipavla{
	position:absolute;
	top:480px;
	left:600px;
	font-size:19px;
	background-color:#b4afff;
	border:2px solid black;
	padding-left:20px;
	padding-right:420px;
	padding-top:20px;
	
	
}
.nazapicipavla{
	position:absolute;
	top:550px;
	left:610px;	
}
#vk_comments{
	width: 50px;
	position:absolute;
	top:550px;
	left:610px;	
}
.pavelgroup{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:blue;
	color:white;
	top:940px;
	padding-left:70px;
	padding-right:100px;
	border:2px solid black;
}
.pavelgroup2{
	position:absolute;
	left:220px;
	font-size:20px;
	background-color:#a09aff;
	color:white;
	top:965px;
	padding-left:10px;
	padding-right:200px;
	border:2px solid black;
}
#pavelgroup1{
	position:absolute;
	top:1010px;
	left:235px;
}
#pavelgroup1:hover{
	border:1px solid black;
}